
@media (min-width: 1024px) {
    .ParentActivites{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2,1fr);
        /* column-gap: 30px; */
        row-gap: 150px;
    }
}
@media (max-width: 480px) {
    .ParentActivites{
      margin: auto;
      place-items: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    }
